<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <style>
        input{
            margin: 20px;
        }
        button{
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <form action="/login" method="POST">
        <div>
            <h2>LOGIN</h2>
            <label for="username"></label>
            <input type="text" name="username"  id="username" placeholder="Username">
            <br>
            <label for="password"></label>
            <input type="text" name="password" id="password" placeholder="Password">
            <br>
            <button type="submit">Entrar</button>

        </div>

    </form>
    
</body>
</html>