<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GET ISSUE </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container">
    <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasIssue" aria-controls="canvasIssue">
      Issues
    </button>
    <a href="/configRepos" class="btn btn-success">Config</a>
    <% if (!locals.element){ %>
    <div><h1>Revisa tu configuracion</h1></div>
  </div>
  
  <% }else{ %>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="canvasIssue" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Issues from repository X</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form action="issue" method="POST">
        <div>
          <input type="search" name="filtroStatus" class="form-control rounded-0" autofocus>
          <button>Busqueda</button>
        </div>
      </form>
      <% if(locals.busqueda && element.length>0){ 
        var existe=false; %>
        <% for(var i=0;i<element.length;i++){
          if(element[i].status.toLowerCase()== busqueda.toLowerCase()){ 
              existe=true;%>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Name issue</th>
                  <th scope="col">Status</th>
                  <th scope="col">Label</th>
                  <th scope="col">Url</th>              
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> <%= element[i].title %> </td>
                  <td> <%= element[i].status %> </td>
                  <td> <%= element[i].label %> </td>
                  <td> <a href="<%= element[i].url %>">link</a> </td>
                </tr>
          <% }%>
        <% } 
      if(!existe){%>
        <p>Status inexistente</p>
      <% } %>
              </tbody>
            </table>
    <% } %>
    </div>
  </div>
  <% } %>
</body>
</html>