<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET ISSUE </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
      <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasIssue" aria-controls="canvasIssue">
        Issues
    </button>
    <a href="/configRepos" class="btn btn-success">Config</a>
    <% if(element.length>0){ %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name issue</th>
            <th scope="col">Status</th>
            <th scope="col">Label</th>
            <th scope="col">Url</th>
            
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<element.length;i++){ %>
            <tr>
                <td>
                  <%= element[i].title %>
                </td>
                <td>
                    <%= element[i].status %>
                </td>
                <td>
                  <%= element[i].label %>
                </td>
                <td>
                  <a href="<%= element[i].url %>">link</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    <% }else{ %>
        <p>Revisa tu configuracion</p>
    <% } %>
    </div>
    
      
  <!--
        <div class="offcanvas offcanvas-start" tabindex="-1" id="canvasIssue" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Issues from repository X</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="input-group mb-3">
                    <div class="form-inline">
                        <input type="search" id="form1" class="form-control rounded-0" />                            
                    </div>
                    <button type="button" class="btn btn-success">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                      </svg>
                    </button>
                </div>
                <div class="card mb-3" style="width: 18rem;">    
                    <div class="card-body">
                      <h5 class="card-title">Issue 1</h5>
                      <p class="card-text">Small description</p>
                      <a href="#" class="btn btn-success">Vote this</a>
                    </div>
                </div>
                <div class="card mb-3" style="width: 18rem;"> 
                    <div class="card-body">
                      <h5 class="card-title">Issue 2</h5>
                      <p class="card-text">small description</p>
                      <a href="#" class="btn btn-success">Vote this</a>
                    </div>
                  </div>
            
            </div>
        </div> -->
</body>
</html>